@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeneralSans-Variable";
  src: url("../public/fonts/GeneralSans/GeneralSans-Variable.woff2") format("woff2"),
    url("../public/fonts/GeneralSans/GeneralSans-Variable.woff") format("woff"),
    url("../public/fonts/GeneralSans/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
